body {
    font-family: Arial;
    font-size: 12pt;

}

.active {
    color: #337ab7 !important;
    font-weight: bold;
    vertical-align: bottom !important;
    padding: 15px 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #b82e8a !important;
    font-weight: bold;
}

nav {
    font-size: 13pt
}

footer {
    text-align: center;
    font-size: 14pt;
    padding-top: 15px;
}

#pageTitle {
    padding-left: 10px;
}

#main {
    padding-left: 20px;
    font-family: Arial;
    color: dimgray;
    font-size: 13pt;
    padding-right: 20px;
    min-height: 400px;
}

h2 {
    font-size: 15pt;
    color: #337ab7 !important;
}

hr {

}

.outcome {
    color: #b82e8a;
}

