body {
    font-family: Arial;
    background-image: url(/images/car_background.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%
}